// app global css in SCSS form
// Default
@font-face {
  font-family: "Source Sans Pro";
  src: url("/fonts/SourceSansPro-Regular.woff2") format("woff2"),
    url("/fonts/SourceSansPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// For Headings
@font-face {
  font-family: "Futura PT";
  src: url("/fonts/FuturaPT-Heavy.woff2") format("woff2"),
    url("/fonts/FuturaPT-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

// For Product Descriptions
@font-face {
  font-family: "Zilla Slab";
  src: url("/fonts/ZillaSlab-Regular.woff2") format("woff2"),
    url("/fonts/ZillaSlab-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  // text-decoration: none;
  font-family: "Futura PT", "Source Sans Pro", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// global custom styles
body {
  min-width: 320px;
}

form[disabled="disabled"] * {
  pointer-events: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Futura PT", "Source Sans Pro", Arial, Helvetica, sans-serif;
}

p,
li {
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}

li {
  list-style: none;
}

.bg-transparent {
  background: transparent;
}

.ls-sm {
  letter-spacing: 2.4px;
}

.ls-lg {
  letter-spacing: 4.4px;
}

.q-carousel {
  height: calc(var(--window-height) - var(--psa-height, 0px) - 42px) !important;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #323535;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4d5e61;
}
