// app global css in SCSS form
// Default
@font-face {
  font-family: "Source Sans Pro";
  src: url("/fonts/source-sans-pro-v14-latin-300.woff2") format("woff2"),
    url("/fonts/source-sans-pro-v14-latin-300.woff") format("woff");
  font-weight: 300;
  font-style: normal, oblique, italic;
  font-display: swap;
}

// For Headings
@font-face {
  font-family: "Futura PT";
  src: url("/fonts/FuturaPT-Heavy.woff2") format("woff2"),
    url("/fonts/FuturaPT-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

// For Product Descriptions
@font-face {
  font-family: "Zilla Slab";
  src: url("/fonts/ZillaSlab-Regular.woff2") format("woff2"),
    url("/fonts/ZillaSlab-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  // text-decoration: none;
  font-family: "Futura PT", "Source Sans Pro", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// global custom styles
body {
  min-width: 320px;
}

a {
  text-decoration: none;
  color: inherit;
}

form[disabled="disabled"] * {
  pointer-events: none;
}

li {
  list-style: none;
}

p,
a,
li,
.text-field,
.text-field *:not(.q-icon),
.text-comment,
.text-comment *:not(.q-icon) {
  font-family: "Source Sans Pro" !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.product-link,
.header-link {
  font-family: "Futura PT", "Source Sans Pro", Arial, Helvetica, sans-serif !important;
}

.ucfirst {
  text-transform: capitalize !important;
}

.uppercase {
  text-transform: uppercase !important;
}

.q-field__messages,
.q-field__messages *:not(.q-icon) {
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif !important;
  font-size: 14px;
}

.q-field--error .q-field__bottom {
  padding-left: 0px;
}

.hover {
  &-underline:hover {
    text-decoration: underline;
  }
  &-primary:hover {
    color: $primary;
  }
  &-dark:hover {
    color: $dark;
  }
}

.nav-search .q-dialog__inner {
  top: calc(var(--psa-height, 0px)) !important;
}

.no-hover-bg:hover * {
  background: none !important;
}

.bg-transparent {
  background: transparent;
}

.ls-sm {
  letter-spacing: 2.4px;
}

.ls-lg {
  letter-spacing: 4.4px;
}

.featured-carousel {
  height: calc(var(--window-height) - var(--psa-height, 0px) - 42px) !important;
}

.no-hover:hover div {
  background: none !important;
}

.text-underline {
  text-decoration: underline !important;
}

.detail-tooltip {
  border: 1px solid $line;
  width: 220px;
  color: $grey-8;

  * {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif !important;
    font-size: 16px;
  }
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: $grey-5;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $grey-7;
}

/* Moz Scrollbar */
:root {
  scrollbar-color: $grey-5 transparent !important;
  scrollbar-width: thin !important;
}

/* Vue Transitions */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
/*
.slide-enter-active,
.slide-leave-active {
  transition: all 1s;
}
.slide-leave-active {
  position: absolute;
}
.slide-move {
  transition: transform 1s;
}
.slide-enter {
  transform: translateY(30px);
  opacity: 0;
}
.slide-leave-to {
  transform: translateY(30px);
  opacity: 0;
}
*/
